{% load i18n %}
<form target="_top" class="billing-payment-form" method="post" action="{{ rbk.action }}">
    <input type="hidden" name="eshopId" value="{{ rbk.shop_id }}">
    <input type="hidden" name="orderId" value="{{ order.pk }}">
    <input type="hidden" name="serviceName" value="{{ rbk.service_name }}">
    <input type="hidden" name="recipientAmount" value="{{ order.price.amount }}">
    <input type="hidden" name="recipientCurrency" value="{{ rbk.currency }}">
    <input type="hidden" name="user_email" value="{{ order.client.email }}">
    <input type="hidden" name="hash" value="{{ rbk.signature }}">
    {% with url=rbk.url %}
        {% if url %}
            <input type="hidden" name="successUrl" value="{{ url }}">
            <input type="hidden" name="failUrl" value="{{ url }}">
        {% endif %}
    {% endwith %}
    <button class="billing-payment-button btn bnt-success">
       {% trans 'pay' %} {{ order.price }}
    </button>
</form>
