DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'db_name',
        'USER': 'username',
        'PASSWORD': 'password',
        'HOST': '127.0.0.1',
        'PORT': '5432'
    }
}

EMAIL_USE_TLS = True
EMAIL_HOST = 'smtp.example.com'
EMAIL_PORT = 587
EMAIL_HOST_USER = 'admin'
EMAIL_HOST_PASSWORD = 'password'
DEFAULT_FROM_EMAIL = 'maxibooking.group <admin@example.ru>'
SERVER_EMAIL = 'maxibooking.group <admin@example.ru>'

ADMINS = (('maxibooking.group', 'admin@example.com'), )
MANAGERS = ADMINS

SECRET_KEY = 'my_super_secret_key'
ALLOWED_HOSTS = ['127.0.0.1']
DEBUG = False

CELERY_LOGLEVEL = 'debug'

# Maxibooking url
MB_URL = 'https://example.com'
# Maxibooking token
MB_TOKEN = 'my_super_secret_token'
# Requests timeout (sec)
MB_TIMEOUT = 1
# Order expired period (in days)
MB_ORDER_EXPIRED_DAYS = 21
# Order creation period (in days)
MB_ORDER_BEFORE_DAYS = 14
