DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'db_name',
        'USER': 'username',
        'PASSWORD': 'password',
        'HOST': '127.0.0.1',
        'PORT': '5432'
    }
}

EMAIL_USE_TLS = True
EMAIL_HOST = 'smtp.example.com'
EMAIL_PORT = 587
EMAIL_HOST_USER = 'admin'
EMAIL_HOST_PASSWORD = 'password'
DEFAULT_FROM_EMAIL = 'maxibooking.group <admin@example.ru>'
SERVER_EMAIL = 'maxibooking.group <admin@example.ru>'

ADMINS = (('maxibooking.group', 'admin@example.com'), )
MANAGERS = ADMINS

SECRET_KEY = 'my_super_secret_key'
ALLOWED_HOSTS = ['127.0.0.1']
DEBUG = False

CELERY_LOGLEVEL = 'debug'

# Maxibooking urls
MB_URLS = {
    'ru': {
        'install': 'https://example.com',
        'archive': 'https://example.com',
        'fixtures': 'https://example.com',
        'token': 'token_ru'
    },
    '__all__': {
        'install': 'https://example.com',
        'archive': 'https://example.com',
        'fixtures': 'https://example.com',
        'token': 'token_all'
    }
}
# Requests timeout (sec)
MB_TIMEOUT = 1
# Order expired period (in days)
MB_ORDER_EXPIRED_DAYS = 21
# Order creation period (in days)
MB_ORDER_BEFORE_DAYS = 14
# Order payment notify (days before expiration)
MB_ORDER_PAYMENT_NOTIFY_DAYS = 3
# Client archive period (in months)
MB_CLIENT_ARCHIVE_MONTHS = 6