DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'billing',
        'USER': 'billing',
        'PASSWORD': 'billing',
        'HOST': '127.0.0.1',
        'PORT': '5432'
    }
}

EMAIL_USE_TLS = True
EMAIL_HOST = 'smtp.example.com'
EMAIL_PORT = 587
EMAIL_HOST_USER = 'admin'
EMAIL_HOST_PASSWORD = 'password'
DEFAULT_FROM_EMAIL = 'maxibooking.group <admin@example.ru>'
SERVER_EMAIL = 'maxibooking.group <admin@example.ru>'

ADMINS = (('maxibooking.group', 'admin@example.com'), )
MANAGERS = ADMINS

SECRET_KEY = 'my_super_secret_key'
ALLOWED_HOSTS = ['127.0.0.1', 'localhost']
DEBUG = True

CELERY_LOGLEVEL = 'debug'
BROKER_URL = 'redis://localhost:6379'
CELERY_RESULT_BACKEND = 'redis://localhost:6379'

# Django-cors
CORS_ORIGIN_WHITELIST = (
    'maxi-booking.com',
    'maxi-booking.ru',
    'maxibooking.ru',
)
CORS_ORIGIN_ALLOW_ALL = True
# CORS_ORIGIN_REGEX_WHITELIST = (r'^(https?://)?(\w+\.)?google\.com$', )

# Rbk
RBK_SHOP_ID = 'rbk_shop_id'
RBK_SECRET_KEY = 'rbk_secret_key'

# Stripe
STRIPE_PUBLISHABLE_KEY = 'stripe_publishable_key'
STRIPE_SECRET_KEY = 'stripe_secret_key'

# Maxibooking urls
MB_URLS = {
    'ru': {
        'install': 'https://example.com',
        'archive': 'https://example.com',
        'fixtures': 'https://{}.example.com',
        'token': 'token_ru'
    },
    '__all__': {
        'install': 'https://example.com',
        'archive': 'https://example.com',
        'fixtures': 'https://{}.example.com',
        'token': 'token_all'
    }
}
# Requests timeout (sec)
MB_TIMEOUT = 1
# Order expired period (in days)
MB_ORDER_EXPIRED_DAYS = 21
# Order creation period (in days)
MB_ORDER_BEFORE_DAYS = 14
# Order payment notify (days before expiration)
MB_ORDER_PAYMENT_NOTIFY_DAYS = 3
# Client archive period (in months)
MB_CLIENT_ARCHIVE_MONTHS = 6
# Bill recipient company
MB_BILL_RECIPIENT_COMPANY = {
    'bank': 'bank title',
    'bank_bik': '1111111111111111111',
    'bank_account': '1111111111111111111',
    'inn': '1111111111111111111',
    'kpp': '1111111111111111111',
    'company_account': '1111111111111111111',
    'company_name': 'company name',
    'company_text': 'recipient text',
    'boss': 'Boss F.A.',
    'bookkeeper': 'Bookkeeper F.A.',
}
