{% extends 'emails/base.html' %}
{% load humanize %}
{% load i18n %}

{% block title %}
    {% trans "New order #" %}{{ order.id }}
{% endblock %}

{% block content %}
{% blocktrans with name=client.name id=order.id greetings_new=greetings_new|safe created=order.created|date:'d.m.Y' expired=expired|date:'d.m.Y H:i' url=client.url %}
    <p>Hello, {{ name }}!</p>

    {{ greetings_new }}

    <p>You still have {{ days }} more days of free use! To continue using Maxibooking after {{ expired }} we have created for You the order #{{ id }} dated {{ created }} from the calculation of the number of Your room and the chosen period. It must be paid before {{ expired }}.</p>
    <p>View the order, change the period and number of rooms, and make payment you can in Your personal account by clicking on the link: {{ url }}</p>
    <p>Do you have features you want to try but haven't set up yet? Write to us. We are happy only if with us you sell more!</p>

{% endblocktrans %}

{% include "emails/sign.html" %}

{% endblock %}
