{% extends 'emails/base_client.html' %}
{% load humanize %}
{% load i18n %}

{% block title %}
{% trans "New Invoice #" %}{{ order.id }}
{% endblock %}

{% block content %}
{% blocktrans with name=client.name id=order.id greetings_new=greetings_new|safe created=order.created|date:'d.m.Y' expired=expired|date:'d.m.Y H:i' url=client.url %}
    <p>Hello!</p>

    {{ greetings_new }}

    <p>You still have {{ days }} more days of Free Trial! To continue using MaxiBooking after {{ expired }} the Invoice #{{ id }} dated {{ created }} has been created based on your number of properties and selected subscription period. The Invoice should be paid before {{ expired }}.</p>
    <p>To view your Invoice, update and confirm your subscription details, and pay online simply go to “My Account” by clicking on the link: {{ url }}</p>
    <p>Are there features that you want to try but didn’t have a chance to try yet? Write to us. We are happy only when you sell more with us!</p>

{% endblocktrans %}

{% endblock %}
