{% extends 'emails/base.html' %}
{% load humanize %}
{% load i18n %}

{% block title %}
    {% trans "Order will expire soon" %}
{% endblock %}

{% block content %}
{% blocktrans with name=client.fullname id=order.id greetings_new=greetings_new|safe created=order.created|date:'d.m.Y' expired=order.expired_date|date:'d.m.Y H:i' url=client.url %}
    <p>Hello, {{ name }}!</p>

    {{ greetings_new }}

    <p>You need to pay order #{{ id }} from {{ created }} for using the "Maxbooking".</p>
    <p>Payment must be made before {{ expired }}</p>
    <p>You can view the order and make a payment in the personal cabinet of the  'Maxibooking' system by clicking on the link: {{ url }} </p>

{% endblocktrans %}

{% include "emails/sign.html" %}

{% endblock %}
