{% extends 'emails/base.html' %}
{% load humanize %}
{% load i18n %}

{% block title %}
    {% trans "Your account is disabled" %}
{% endblock %}

{% block content %}
    {% blocktrans with url=url name=name odrder=order created=created %}
        <p>Hello!</p>
        <p>Due to payment arrears, your account in the 'Maxibooking' system is blocked.</p>
        <p>To unlock your account, go to your personal account and pay for the order #{{ order.id}} from {{ created }} {{ url }}</p> 
    {% endblocktrans %}

    {% include "emails/sign.html" %}
{% endblock %}
