{% extends 'emails/base_client.html' %}
{% load humanize %}
{% load i18n %}

{% block title %}
{% trans "Invoice is due - don’t forget to extend your access!" %}
{% endblock %}

{% block content %}
{% blocktrans with name=client.name id=order.id greetings_new=greetings_new|safe created=order.created|date:'d.m.Y' expired=order.expired_date|date:'d.m.Y H:i' url=client.url %}
    <p>Hello!</p>

    {{ greetings_new }}

    <p>You Invoice #{{ id }} from {{ created }} is due.</p>
    <p>Great opportunities and more Sales await. Don't forget to extend your access by paying you Invoice by {{ expired }}</p>
    <p>To view your Invoice, update and confirm your subscription details, and pay online simply go to “My Account” by clicking on the link: {{ url }}</p>
    <p>Are there features that you want to try but didn't have a chance to try yet? Write to us. We are happy only when you sell more with us!</p>

{% endblocktrans %}

{% endblock %}
