{% extends 'emails/base.html' %}
{% load humanize %}
{% load i18n %}

{% block title %}
    {% trans "Registration successefull" %}
{% endblock %}

{% block content %}
{% blocktrans %}
    <p>Hello, {{ name }}!</p>
    <p>Thank you for registering in 'Maxibooking'!</p>
    <p>To enter the program, please follow the link: {{ url }}
        and use the user's credentials:</p>
    <ul>
        <li>username: admin</li>
        <li>password: {{ password }}</li>
    </ul>

    <p>Knowledge base for work in the program: https://support.maxi-booking.com</p>
    <p>You can get support by contacting: support@maxi-booking.com</p>

{% endblocktrans %}

{% include "emails/sign.html" %}

{% endblock %}
