{% extends 'emails/base_client.html' %}
{% load humanize %}
{% load i18n %}

{% block title %}
{% trans "Registration Successefull" %}
{% endblock %}

{% block content %}
{% blocktrans %}
    <p>Greetings!</p>
    <p>Welcome to 'MaxiBooking'! You are now well on your way to start selling more. </p>
    <p>To login to your account, please follow the link: {{ url }}
    and use your login credentials:</p>
    <ul>
        <li>username: admin</li>
        <li>password: {{ password }}</li>
    </ul>

    <p>To visit Your SMART website simply click on the button below!</p>
    <p>
        <a href="{{ website }}" class="btn-primary" itemprop="url" style="font-family: 'Montserrat', sans-serif; font-weight: normal; font-size: 16px; line-height: 26px; color: #fff; text-decoration: none; padding: 15px 35px; background-color: #2DBABA;">go to your website</a>
    </p>
    <p>We are happy only when you sell more with us!</p>

{% endblocktrans %}
{% endblock %}
